.title {
  background-image: url('../images/background.png');
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
}

.hero {
  text-align: center;
  background: rgba(75, 135, 206, 0.3);
}

.highlight {
  color: #4B87CE
}
