.quote {
  position: relative;
  font-family: 'Sanchez', serif;
  font-size: $base-font-size;
  line-height: $base-line-height;

  footer {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.6em;
    font-weight: 700;
    color: darken($white, 15%);
    float: right;
    
    &:before {
      content: '\2015';
    }
  }
  &:after {
      content: '\201D';
      position: absolute;
      top: 0.28em;
      right: 0;
      font-size: 6em;
      font-style: italic;
      color: darken($white, 7%);
      z-index: -1;
   }
}
