.title {
  background-image: url('../images/background.png');
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
}

.hero {
  text-align: center;
  background: rgba(75, 135, 206, 0.3);
}

.highlight {
  color: #4B87CE;
}

a {
  text-decoration: none;
}

a.left
{
    position: relative;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4B87CE;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.left:hover:before {
  visibility: visible;
  width: 100%;
}

.quote {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: 5%;
  margin-bottom: 5%;
}
