.title {
  background-image: url('../images/background.png');
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
}

.hero {
  text-align: center;
  background: rgba(75, 135, 206, 0.3);
}

.craniohead {
  color: #4B87CE;
}

.storyhead {
  color: #B3272B;
}

a {
  text-decoration: none;
}

a.craniolink
{
    position: relative;
}

a.craniolink:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4B87CE;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.craniolink:hover:before {
  visibility: visible;
  width: 100%;
}

a.storylink
{
    position: relative;
}

a.storylink:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4B87CE;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.storylink:hover:before {
  visibility: visible;
  width: 100%;
}

.quote {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.about {
  margin-top: 2%;
  margin-bottom: 2%;
}

span {
  font-size: 1.5rem;  }

.copyright {
  font-size: 0.8rem;
  text-align: right;
}
