
html {
  font-family: 'Overpass Mono', monospace;
}

p, li, span {
  font-weight: normal;
}

p.main {
  font-size: 1em;
  text-align: left;
  padding: 5em 0;
  padding-left: 2em;
  padding-right: 2em;
  color: #fff
}

.disabled {
  text-decoration: line-through;
}

p.copyright {
  font-size: .5em;
  text-align: right;
  padding-right: 1em;
  color: #fff
}

html.home {
  background-color: black;
}

html.comingsoon {
  background: linear-gradient(to right, #61E98C 0%, #52A2DE);
}

#page {
  width: 100%;
  height: 100%;
}

img {
  top: .5em;
  left: 1em;
  width: 4em;
  height: 4em;
  position: fixed;
}

#footer {
  background-color: transparent;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3.2em;
  line-height: 3.2em;
}

a {
  position: relative;
  color: #9A59F5;
  text-decoration: none;
}

a.ultraviolet:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #61C9E0 0%, #B721FF);
  visibility: hidden;
  -webkit-transition: 0.3s ease all .3s;
  transition: 0.2s ease all .3s;
}

a.otherlink:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: white;
  visibility: hidden;
  -webkit-transition: 0.3s ease all .3s;
  transition: 0.2s ease all .3s;
}

a.sunset:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #FFF194 0%, #FF6C6C);
  visibility: hidden;
  -webkit-transition: 0.3s ease all .3s;
  transition: 0.2s ease all .3s;
}

a.marine:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #61E98C 0%, #52A2DE);
  visibility: hidden;
  -webkit-transition: 0.3s ease all .3s;
  transition: 0.2s ease all .3s;
}

a.blush:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #f8a3ad 0%, #F15B6C);
  visibility: hidden;
  -webkit-transition: 0.3s ease all .3s;
  transition: 0.3s ease all .3s;
}

a:hover:before {
  visibility: visible;
  width: 100%;
  -webkit-transform: 0.3s ease all;
  transform: 0.3s ease all;
}

.blush {
color: #F8A3AD;
background: linear-gradient(to right, #f8a3ad 0%, #F15B6C);
opacity: 40%;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.ultraviolet {
  color: #61C9E0;
  background: linear-gradient(to right, #61C9E0 0%, #B721FF);
  opacity: 40%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.marine {
  color: #61E98C;
  background: linear-gradient(to right, #61E98C 0%, #52A2DE);
  opacity: 40%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sunset {
  color: #FFF194;
  background: linear-gradient(to right, #FFF194 0%, #FF6C6C);
  opacity: 40%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.otherlink {
  color: white;
  text-align: left;
  padding-left: 1em;
  padding-bottom: 1em;
}
