html {
  font-size: 18px;
}


body {
  font-family: 'Open Sans';
  line-height: 1.5;

  background-color: #fbfbfb;
  color: #333333;
  margin: 80px auto 48px auto;
  width: 1120px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
}

h1 {
  font-family: 'Unna';
  font-size: 2rem;
  line-height: 1.2;
}


h2,
nav {
  font-family: 'Unna';
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.2;
}

h2.logo {
  font-weight: 700;
}

h3 {
  font-family: 'Unna';
  font-size: 1.5rem;
  line-height: 1.2;
}

h4 {
  font-family: 'Unna';
  font-size: 1.25rem;
}

small {
  font-size: 0.5rem;
  }

a {
  color: #4b87ce;
  text-decoration: none;
  position: relative;
  margin: 0 0 0 24px;
}

a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 6%;
  bottom: 0;
  left: 0;
  background-color: #4b87ce;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

a:hover:before {
  visibility: visible;
  width: 100%;
}

a.active:before {
  width: 100%;
  visibility: visible;
  transition: none;
}

img {
  border-radius: 3px;
}

section {
  margin: 80px 0 80px 0;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px 32px;
  grid-auto-flow: dense;
}

section.tagline h1 {
  grid-column: 2 / span 10;
  text-align: center;
}

section.banner {
  margin: 0 20px 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 20px;
  background-color: rgba(73, 135, 206, 0.15);
  border-radius: 10px;
}

section.info h3 {
 font-weight: 700;
 margin: 8px 0 8px 0;
}

section.info div.photo {
  grid-column: 1 / span 8;
  text-align: center;
}

section.info div.text {
  grid-column: 9 / span 4;
}

section.info-alt div.photo {
  grid-column: 5 / span 6;
  text-align: left;
}

section.info-alt div.text {
  grid-column: 1 / span 4;
  text-align: right;
}

section.info img {
  max-height: 640px;
}

section.testimonials div.text {
  grid-column: 2 / span 10;
  text-align: left;
}

section.testimonials div.text h3 {
  font-style: italic;
  font-weight: 700;
  margin: 32px 0 32px 0;
}

section.contact div.form {
  grid-column: 2 / span 8;
}

section.contact div.form h1 {
  text-align: left;
}

footer section {
  font-weight: 400;
  margin: 0 0 0 0;
}

footer section div.links {
  grid-column: 1 / span 11;
  margin: 30px 0 0 0;
  text-align: left;
}

footer section div.links a {
  color: #4b87ce;
  margin: 0 0 0 0;
}

footer section div.links a:hover {
  margin: 0 0 0 0;  
}

footer section div.copyright {
  grid-column: 1 / span 11;
  color: black;
  font-family: "Open Sans";
  text-align: left;
}

footer section div.links a.contactme {
  font-weight: 700;
}

input, textarea, select {
  width: 100%;
  border: 1.75px solid #979797;
  border-radius: 5px;
  padding: 8px 8px 8px 8px;
  margin: 16px 0 16px 0;
  font-family: "Unna";
}

label {
  margin: 16px 0 0 0;
  font-family: "Unna";
  font-weight: 700;
}

form {
  display: block;
}

textarea {
  height: 320px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(75, 135, 206);
  color: rgb(255, 255, 255);
  font-family: "Unna";
  font-size: 24px;
  border: none;
  border-radius: 10px;
  padding: 8px 16px 8px 16px; 
  margin: 24px 0 0 0;
  cursor: pointer;
}

button:hover {
  background-color: rgba(75, 135, 206, 0.75);
}









@media (max-width: 1248px) {
  
  body {
    width: auto;
    margin: 80px 64px 48px 64px;
  } 
}

@media (max-width: 950px) {
  
  html {
    font-size: 16px;
  }
  
  header {
    flex-direction: column;
  }
  
  nav {
    margin: 16px 0 0 0;
  }
  
  header a {
    margin: 0 16px 0 16px;
  }
}

@media (max-width: 850px) {
  
  section {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 24px;
    margin: 62px 0 62px 0;
  }
  
  section.tagline h1, 
  section.info div.photo, 
  section.info div.text, 
  section.testimonials div.text,
  section.contact div.form,
  footer section div.copyright {
    grid-column: 1 / span 4;
  }
  
  section.info-alt div.text {
    text-align: left;
  }
  
}

@media (max-width: 650px) {
  
  html {
    font-size: 14px;
  }
  
  body {
    margin: 40px 32px 40px 32px;
  }
  
 nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

footer section {
  margin: 16px 0 16px 0;
}
  
}